@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-primary: #AA5486;
  --primary: #587e5b;
  --primary-disabled: rgba(106, 156, 137, 0.922);
  --primary-strong: #334b35;
  --secondary: #fff9ee;
  --secondary-soft: #fff9ee;

  --error-color: #b91c1c;
  --error-color-accent: #7f1d1d;
  --warning-color: #ea580c;
  --success-color: #166534;
}

body {
  color: var(--primary);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--secondary))
    )
    var(--secondary-soft);
  height: 100vh;
}

a {
  color: var(--primary);
  background-color: rgb(var(--secondary));
}

a:hover {
  color: var(--primary-strong);
  transition: 150ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
