@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-primary: #AA5486;
  --accent-primary-strong: #7d3f64;
  --primary: #547854;
  --primary-disabled: #6a6a6a;
  --primary-strong: #334b35;
  --secondary: #fff9ee;
  --secondary-soft: #ffffff;

  --error: #b91c1c;
  --error-accent: #7f1d1d;
  --warning: #CB4E0B;
  --success: #166534;
  --success-accent: #0e3f21;
}

body {
  color: var(--primary);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--secondary))
    )
    var(--secondary-soft);
  height: 100vh;
}

a {
  color: var(--primary);
  background-color: rgb(var(--secondary));
}

a:hover {
  color: var(--primary-strong);
  transition: 150ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
}