@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #6A9C89;
  --special-color: #AA5486;
  --highlight-color: #CD5C08;
  --background-color: #FFF5E4;
  --highlight-background-color: #fbfbfb;
  --low-color: #C1D8C3;
  --disabled-color: #434743;
}

body {
  color: rgb(var(--font-color));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-color))
    )
    rgb(var(--highlight-background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
