.ProyectoTable {
    display: block;
    overflow-x: auto;

    .ProyectoTableHeadRow {
        :nth-child(2n) {
            background-color: blue;
        }
        :nth-child(2n-1) {
            background-color: darkblue;
        }
    }
    .ProyectoTableBody {
        :nth-child(2n-1) {
            :nth-child(2n) {
                background-color: rgb(88, 88, 255);
            }
            :nth-child(2n-1) {
                background-color: rgb(68, 68, 146);
            }
        }
        :nth-child(2n) {
            :nth-child(2n) {
                background-color: rgb(61, 61, 243);
            }
            :nth-child(2n-1) {
                background-color: rgb(39, 39, 148);
            }
        }
    }
}